<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
<!--        <div *ngIf="onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: odd % 2 !== 0}"-->
<!--            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"-->
<!--            *ngFor="let odd of oddNumbers"-->
<!--          >-->
<!--            {{ odd }}-->
<!--          </li>-->
<!--        </div>-->
<!--        <div *ngIf="!onlyOdd">-->
<!--          <li-->
<!--            class="list-group-item"-->
<!--            [ngClass]="{odd: even % 2 !== 0}"-->
<!--            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"-->
<!--            *ngFor="let even of evenNumbers"-->
<!--          >-->
<!--            {{ even }}-->
<!--          </li>-->
<!--        </div>-->
        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>
        <div *appUnless="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ul>
<!--      *ngIf behind the scenes-->
      <ng-template [ngIf]="!onlyOdd">
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{odd: even % 2 !== 0}"
            [ngStyle]="{backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'}"
            *ngFor="let even of evenNumbers"
          >
            {{ even }}
          </li>
        </div>
      </ng-template>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'black'" [highlightColor]="'pink'" >Style me with better directive!</p>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">Value is 5</p>
        <p *ngSwitchCase="10">Value is 10</p>
        <p *ngSwitchDefault>Value is default</p>
      </div>
    </div>
  </div>
</div>
